@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html * {
    @apply text-sm;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .input {
    @apply w-full px-5 py-3.5 rounded-md text-black outline-none;
  }

  .text-balance {
    text-wrap: balance;
  }
  .boxed {
    @apply mx-auto w-full max-w-content px-5 md:px-10;
  }
  .boxed-layout {
    @apply mx-auto w-full max-w-content px-5;
  }
}
